:root {
  --color-bg-logo: #16A5F0;
  --color-main-text: #010E15;
  --color-accent: #0077B6;
  --color-min-text: #6B7A8E;
  --color-accent-light: #DDF3FF;
  --color-focused: #031721;
  --color-bg-disabled: #848484;
  --color-text-disabeld: #A7A7A7;
  --color-text-light: #98C3DA;
  --color-bg-light:  #F2F9FD;
  --color-text-blue: #4999C5;
}
